<a href="https://colab.research.google.com/github/96868/ML_Python/blob/main/class6_%26_class_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***class 6***

In [ ]:
# 1. create a function using positional arguments
def name(a,b):
  print("The first name is {0} and the second name is {1}".format(a,b))
name("Sreenivasan","Medha")
name("Medha","Sreenivasan")

The first name is Sreenivasan and the second name is Medha
The first name is Medha and the second name is Sreenivasan

In [ ]:
# 2. create a function using keyword arguments
def name(a,b):
  print("The first name is {0} and the second name is {1}".format(a,b))
name(b="Sreenivasan",a="Medha")

The first name is Medha and the second name is Sreenivasan

In [ ]:
# 3. create a function using default arguments
def name(a = "Medha",b = "Sreenivasan"):
  print("The first name is {0} and the second name is {1}".format(a,b))
name()

The first name is Medha and the second name is Sreenivasan

In [ ]:
# 4. create a function using keyword and  arguments
def name(b,a):
  print("The first name is {0} and the second name is {1}".format(a,b))
name("Sreenivasan",a="Medha")

The first name is Medha and the second name is Sreenivasan

remember first positional argument will be called then keyword argument like in the 4th problem

In [ ]:
# 5. create a function to give a variable number of input arguments to a single variable
def school(school,teacher,*args):
  print("{0} is the teacher of {1} school\nher students are ".format(teacher,school))
  for stu in args:
    print("\n{0}".format(stu))
school("Bishops","Sanjtha","Riya","Abhinaya","Srinidhi")

Sanjtha is the teacher of Bishops school
her students are

Riya

Abhinaya

Srinidhi

In [ ]:
# 6. create a function to give variable number of keyword arguments
def shazam(version,*args,**kwargs):
  print("We are going to see shazam {0}\n the characters are".format(version))
  for char in kwargs:
    print("\n{0}. {1}".format(kwargs[char],char))
  print("The audience includes \n")
  for aud in args:
    print("\n{0}".format(aud))
shazam("1","medha","srivani",asher_angel = 1,freddy_freeman = 2)

We are going to see shazam 1
 the characters are

1. asher_angel

2. freddy_freeman
The audience includes


medha

srivani

7. as u saw in the 6th problem kwargs which is a variable for storing keyword arguments is called after args the variable for storing multiple positional arguments. hence be it a single or multiple arguments keyword arguments are always called after positional arguments

In [2]:
# 8. in a given list print the even and odd elements seperately
list1 = [1,2,3,4,5,6,7,8,9]
for i in list1:
  if(i%2 == 0):
    print("{0} - even".format(i))
  else:
    print("{0} - odd".format(i))

1 - odd
2 - even
3 - odd
4 - even
5 - odd
6 - even
7 - odd
8 - even
9 - odd

In [ ]:
# 9. to create a simple calculator with operator and the values on which the operation has to be performed to be taken as input
def calc(op,a,b):
  s = 0
  if(op == "+"):
    s = a+b
    print("Sum : {0}".format(s))
  elif(op == "-"):
    s = a-b
    print("Sub : {0}".format(s))
  elif(op == "*"):
    s = a*b
    print("mul : {0}".format(s))
  elif(op == "/"):
    s = a/b
    print("div : {0}".format(s))
  elif(op == "%"):
    s = a%b
    print("rem : {0}".format(s))
  else:
    print("Invalid operation. try again")
op = input("Enter the operator : ")
a = int(input("Enter the first operand : "))
b = int(input("Enter the second operand : "))
calc(op,a,b)

Enter the operator : /
Enter the first operand : 4
Enter the second operand : 2
div : 2.0

***class 7***

In [ ]:
# 1. to create lists seperately for even and odd numbers in the normal way
even_list=[]
odd_list=[]
for value in list1:
  if(value%2 == 0):
    even_list.append(value)
  else:
    odd_list.append(value)
print(even_list)
print(odd_list)

[2, 4, 6, 8]
[1, 3, 5, 7, 9]

In [ ]:
# 2. to create lists seperately for even and odd numbers using list comprehension
evenlist = [x for x in list1 if x%2 == 0]
oddlist = [x for x in list1 if x%2 != 0]
print(evenlist)
print(oddlist)

[2, 4, 6, 8]
[1, 3, 5, 7, 9]

In [ ]:
# 3. to print the list in ascending order
list2 = [2,1,6,7,5]
list2.sort()
print(list2)

[1, 2, 5, 6, 7]

In [ ]:
# 4. to print the list in descending order
list2.sort(reverse = True)
print(list2)

[7, 6, 5, 2, 1]

In [ ]:
# 5. to create a dictionary for a list of numbers and their squares in the normal way
mydic = {}
for value in list1:
  mydic[value] = value**2
print(mydic)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [ ]:
# 6. to create a dictionary for a list of numbers and their squares using dictionary comprehension
mydic1 = {x:x**2 for x in list1 }
print(mydic1)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [ ]:
# 7. to create a set which stores values divisible by 3 in the normal way
div_set = set()
for value in list1:
  if(value % 3 == 0):
    div_set.add(value)
print(div_set)

{9, 3, 6}

In [ ]:
# 8. to create a set which stores values divisible by 3 using set comprehension
div_set1 = set(x for x in list1 if x%3 == 0)
print(div_set1)

{9, 3, 6}

In [18]:
# 9. to create a list using if else condition for divisibility by 4 using the normal way
div4_lst = []
for value in list1:
  if(value % 4 == 0):
    div4_lst.append(value)
  else:
    div4_lst.append("not divisible")
print(div4_lst)

['not divisible', 'not divisible', 'not divisible', 4, 'not divisible', 'not divisible', 'not divisible', 8, 'not divisible']

In [10]:
# 10. to create if else condition for divisibility by 4 using list comprehension
lst = [x  if x%4==0  else "not divisible" for x in list1]
print(lst)

['not divisible', 'not divisible', 'not divisible', 4, 'not divisible', 'not divisible', 'not divisible', 8, 'not divisible']

In [13]:
# 11. to create if else condition for divisibility by 4 using set comprehension
set1 = set()
set1 = {x if x%4==0 else "not divisible" for x in list1}
print(set1)

{8, 4, 'not divisible'}

In [19]:
 # 12. to create a set using if else condition for divisibility by 4 using the normal way
 set2 = set()
 for x in list1:
  if(x%4 == 0):
    set2.add(x)
  else:
    set2.add("not divisible")
 print(set2)

{8, 4, 'not divisible'}

In [22]:
# 13. to take the no of elements as the input and create a list with numbers from 1 to n in the normal way
lst3 = []
n = int(input("Enter the number of elements: "))
for i in range(n):
  lst3.append(i+1)
print(lst3)

Enter the number of elements: 4
[1, 2, 3, 4]

In [23]:
# 14. to take the no of elements as the input and create a set with numbers from 1 to n in the normal way
set3 = set()
n1 = int(input("Enter the number of elements : "))
for i in range(n1):
  set3.add(i+1)
print(set3)

Enter the number of elements : 5
{1, 2, 3, 4, 5}

In [25]:
# 15. to take the no of elements as the input and create a list with numbers from 1 to n using list comprehension
n2 = int(input("Enter the number of elements : "))
lst4 = [x+1 for x in range(n2)]
print(lst4)

Enter the number of elements : 5
[1, 2, 3, 4, 5]

In [26]:
# 16. to take the no of elements as the input and create a set with numbers from 1 to n using set comprehension
set4 = set()
n3 = int(input("Enter the number of elements : "))
set4 = {x+1 for x in range(n3)}
print(set4)

Enter the number of elements : 5
{1, 2, 3, 4, 5}