<a href="https://colab.research.google.com/github/96868/ML_Python/blob/main/class_3_%26_class_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***class 3***

In [30]:
# 1. to add an element to the end of the tuple
tupl1 = (1,2,6.7,"medha")
print(tupl1)
tupl1.append(4)
print(tupl1)

(1, 2, 6.7, 'medha')

AttributeError: ignored

In [31]:
# 2. to insert an element at a particular index in the tuple
tupl1.insert(2,9)
print(tupl1)

AttributeError: ignored

In [32]:
# 3. to remove an element in the tuple using the value of the element
tupl1.remove(6.7)
print(tupl1)

AttributeError: ignored

In [33]:
# 4. to remove an element in the tuple using the index value of the element
del tupl1[3]
print(tupl1)

TypeError: ignored

In [34]:
# 5. to remove the entire tuple
del tupl[3]
print(tupl)

NameError: ignored

6. immutable or not changable. as no element within the tuple can be changed or deleted or no new element can be inserted . only the whole tuple can be deleted using del command . tuple is also an ordered collection datatype like list represented by (). only diff is it immutable

7. mutable or changable as per the following commands append,remove,del,insert can be applied to it

In [35]:
# 8. to update the value of a key in the dictionary
dic1 = {1:2,2:3,3:4,"medha":5}
print(dic1)
dic1[3] = "comp"
print(dic1)

{1: 2, 2: 3, 3: 4, 'medha': 5}
{1: 2, 2: 3, 3: 'comp', 'medha': 5}

In [36]:
# 9. to add a key-value pair in the dictionary
dic1[4] = 6
print(dic1)

{1: 2, 2: 3, 3: 'comp', 'medha': 5, 4: 6}

In [37]:
# 10. to update a key in the dictionary (assume the same value as before and after replacement of the key)
dic1["life"] = dic1.pop(4)
print(dic1)

{1: 2, 2: 3, 3: 'comp', 'medha': 5, 'life': 6}

In [38]:
# 11. to print one element from a set
set1 = {2,3.4,"5th sem"}
print(set1)
print(set1[1])

{2, 3.4, '5th sem'}

TypeError: ignored

In [39]:
# 12. to display the element in the list with minimum and maximum value
print("Maximum value - ",max(list2))
print("Minimum value - ",min(list2))

TypeError: ignored

In [40]:
# 13. to add an element to the set
set1.add(3)
print(set1)

{3, 2, 3.4, '5th sem'}

In [41]:
# 14. to add 2 sets
set2 = {3,4.5,"o grade"}
set3 = set1.union(set2)
set4 = set1|set2
print(set3)
print(set4)

{2, 3, 3.4, 4.5, 'o grade', '5th sem'}
{2, 3, 3.4, 4.5, 'o grade', '5th sem'}

In [42]:
# 15. to display the common elements of both the sets
set5 = set1.intersection(set2)
set6 = set1 & set2
print(set5)
print(set6)

{3}
{3}

In [43]:
# 16. to remove an element in the set
set4.remove(3.4)
print(set4)

{2, 3, 4.5, 'o grade', '5th sem'}

In [44]:
# 17. to remove all elements in the set and make the set empty
set5.clear()
print(set5)

set()

In [45]:
# 18. to delete the set itself
del set5
print(set5)

NameError: ignored

19. mutable means changable . since elements can be added using add and removed using remove hence the set is mutable

In [46]:
# 20. create a function to add two numbers
def add(num1,num2):
  print("The sum of {0} and {1} is {2}".format(num1,num2,(num1+num2)))
  print("The sum of",num1,"and",num2,"is",(num1+num2))
add(45,55)

The sum of 45 and 55 is 100
The sum of 45 and 55 is 100

21. in the previous problem
parameter - num1 and num2. parameters refers to the variables used to store the values given while calling the function

argument - 45 and 55. argument refers to the value given while calling the function.here add(45,55) is the calling function and 45 and 55 are the arguments assigned to the parameters num1 and num2

In [48]:
# 22. create a function to concatenate two numbers and print the result
def name(nam1,nam2):
  print("The full name is ",(nam1+" "+nam2))
name("Medha","Sreenivasan")

The full name is  Medha Sreenivasan

***class 4***

In [50]:
# 1. without using input method create a function to subtract two numbers
def sub(num3,num4):
  print("The subtraction of {0} and {1} is {2}".format(num3,num4,(num3+num4)))
sub(4,3)

The subtraction of 4 and 3 is 7

In [52]:
# 2. using input method to subtract two numbers
a = input("Enter 1st no :")
b = input("Enter 2nd no :")
print("The subtraction of {0} and {1} is {2}".format(int(a),int(b),int(a)-int(b)))

Enter 1st no :5
Enter 2nd no :4
The subtraction of 5 and 4 is 1

In [53]:
# 3. using input method create a function to concatenate two numbers and print the result
def cat():
  n1 = input("Enter 1st name :")
  n2 = input("Enter 2nd name :")
  print("The full name is ",(n1+" "+n2))
cat()

Enter 1st name :medha
Enter 2nd name :sreenivasan
The full name is  medha sreenivasan

In [54]:
# 4. using iter and list method print every element in the list one by one
list1 = [3,4.5,"5th sem"]
myiterator = iter(list1)
print(next(myiterator))
print(next(myiterator))
print(next(myiterator))
print(next(myiterator))

3
4.5
5th sem

StopIteration: ignored

In [55]:
# 5. using iterator print every element in the list one by one
for value in list1:
  print(value)

3
4.5
5th sem

In [56]:
# 6. using iterator print the sum after every iteration
list2 = [3,4,5,8.9]
sum = 0
for x in list2:
  sum += x
  print(sum)

3
7
12
20.9

In [57]:
# 7. using another iterator method which takes number as an argument print 1st 10 natural numbers
for y in range(10):
  print(y)

0
1
2
3
4
5
6
7
8
9

In [58]:
# 8. using iterator to print subtraction and multiplication of all the elements in the list
sub = 0
mul = 1
for a in list2:
  sub -= a
  mul *= a
print("Subtraction = ",sub)
print("Multiplication = ",mul)

Subtraction =  -20.9
Multiplication =  534.0

In [59]:
# 9. using iterator print multiplication after every iteration
mul1 = 1
for b in list2:
  mul1 *= b
  print(mul1)

3
12
60
534.0

In [61]:
# 10. to check whether an element is present in the list
print(5  in list2)
print(19  in list2)

True
False

In [62]:
# 11. to check whether an element is not present in the list
print(5 not in list2)
print(19 not in list2)

False
True

In [63]:
# 12. to display an element in the list with maximum and minimum value
print("Maximum value - ",max(list2))
print("Minimum value - ",min(list2))

Maximum value -  8.9
Minimum value -  3

In [64]:
# 13. to display the index number of a given character in the string
seq = "Welcome to Bali"
print(seq.index("o"))

4

In [65]:
# 14. to display the index number of a given character in the string after a certain index no
print(seq.index("e",5))

6

In [66]:
# 15. to display the sequence of numbers of a given list given the starting and the ending no
list3 = [1,2,3,4,0,6]
print(list3.index(0,3,6))

4

In [67]:
# 16. string formatting - using operator method - to insert 1 argument and many arguments within a string
print("I got %s in 5th sem"%("o grade"))
print("My name is %s. I like %s pens."%("medha","fountain"))

I got o grade in 5th sem
My name is medha. I like fountain pens.