<a href="https://colab.research.google.com/github/96868/ML_Python/blob/main/class_1_%26_class_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***class 1***

1. general purpose,interpreted,interactive,object oriented,high level programming language,highly readable,integrated

2. fewer lines of code,syntax easy-code readable-easy to learn,lot of applications-web development-data science-rapid application development

In [ ]:
# 3. comment 2 types
''' 1. a # is used to give a single line comment
a ''' ''' for multi line comment
comment is part of the code which is not executed during runtime and is used to type the information
about how code works to make the readers understand'''

In [2]:
''' variable - a bag which can store
1. one value of any data type
2. many values of same data type
3. many values of different data types '''
''' name of the variable can contain numbers,underscore,and alphabets but with certain rules
1. variable name cannot start with a number.'''
# 4. how to name a variable
_num1 = 100
print(_num1)
num1 = 90
print(num1)
Num2 = 80
print(Num2)

100
90
80

In [3]:
1num = 50
print(1num)

SyntaxError: ignored

In [4]:
# 5. different types of variables
numa = 100
numb = 49.5
numc = True
numd = "medha"

In [5]:
# 6. to find the data type of the variable
print(type(numa))
print(type(numb))
print(type(numc))
print(type(numd))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>

In [6]:
# 7. to concatenate 2 strings - 2 ways
print("My name 1 is ",numd)
print("My name 2 is "+numd)

My name 1 is  medha
My name 2 is medha

In [7]:
# 8. to concatenate a string and an integer
a = 21
b = 45.6
print("The sum is ",(a+b))

The sum is  66.6

9. float. if both the values to be added are of type int then the result will be of type integer

In [8]:
# 10. to print boolean value using a relational expression
print(10<9)

False

11. 1.List

    2.tuple

    3.dictionary

    4.set

    5.collection datatype - the datatype of a variable which stores variables of different datatypes such as int , float , str , bool etc.

In [9]:
# 12. to concatenate two inputs given by the user
c = input("Enter a value")
d = input("Enter a value")
print(c+d)

Enter a value4
Enter a value5
45

In [10]:
# 13. to add two inputs given by the user
e = int(input("Enter 1st number"))
f = int(input("Enter 2nd number"))
print(e+f)

Enter 1st number4
Enter 2nd number5
9

***class 2***

1. ordered collection of datatypes and mutable
2. to access an individual element using index no / position no

In [11]:
''' 3. 2 types of indexing
1. positive indexing - access an individual element in the list using positive index no
2. negative indexing - '' using negative index no '''
list1 = [2,3.4,"comp"]
print(list1[1])
print(list1[-3])

3.4
2

4. to access a range of elements in a list we use slicing or to print a sequence of elements

In [14]:
''' 5. 2 types of slicing
1. positive slicing - access range of elements in a list using positive starting and ending index
2. negative slicing - '' using negative starting and ending index'''
list2 = [3,4,4.5,5.6,"me","you"]
print(list2[2:5])
print(list2[-4:-2])
print(list1[1:])
print(list2[:-4])

[4.5, 5.6, 'me']
[4.5, 5.6]
[3.4, 'comp']
[3, 4]

In [15]:
# 6. to reverse the order of elements in the list
list2.reverse()
print(list2)

['you', 'me', 5.6, 4.5, 4, 3]

In [16]:
# 7. to print the elements in the list alternatively
list2.reverse()
print(list2[0:5:2])

[3, 4.5, 'me']

8. start index and stop index - element from this start index no till (stop index - 1) no must be displayed when print() function is called

step index - the no by which the index no must be incremented

for printing all the elements the step index should be

1 --> as after every iteration the next element to be accessed will have (start index +1)index no for printing alternate numbers

2 --> as after every iteration the next element to be accessed will have (start index + 2)index no and so on.

In [17]:
# 9. to update a list
list2[2] = "teddy"
print(list2)

[3, 4, 'teddy', 5.6, 'me', 'you']

In [18]:
# 10. to add an element to the end of the list
list2.append(4.5)
print(list2)

[3, 4, 'teddy', 5.6, 'me', 'you', 4.5]

In [19]:
# 11. to insert an element at a particular index in the list
list2.insert(2,6.6)
print(list2)

[3, 4, 6.6, 'teddy', 5.6, 'me', 'you', 4.5]

In [20]:
# 12. to remove an element in the list using the value of the element
list2.remove(5.6)
print(list2)

[3, 4, 6.6, 'teddy', 'me', 'you', 4.5]

In [21]:
# 13. to remove an element in the list using the index value of the element
del list2[2]
print(list2)

[3, 4, 'teddy', 'me', 'you', 4.5]

In [22]:
# 14. to find the number of elements in the list
print(len(list2))

6

In [23]:
# 15. to find the datatype of variable list2
print(type(list2))

<class 'list'>

In [24]:
# 16. to add a sequence as an element to the end of the list
list2.append([7,8,9])
print(list2)

[3, 4, 'teddy', 'me', 'you', 4.5, [7, 8, 9]]

17. yes. multiple arguments can be given in the form of list as shown in the 16th problem

In [25]:
list2.append(7,8,9)
print(list2)

TypeError: ignored

In [26]:
# 18. to insert in a sequence of elements at a particular index of the list
list2.insert(2,[9,8])
print(list2)

[3, 4, [9, 8], 'teddy', 'me', 'you', 4.5, [7, 8, 9]]

In [27]:
# 19. to remove a sequence of elements in the list using the values of the elements
list2.remove([9,8])
print(list2)

[3, 4, 'teddy', 'me', 'you', 4.5, [7, 8, 9]]

In [28]:
list2.remove(3,4)
print(list2)

TypeError: ignored

20. yes. to remove a sequence of elements it can be only done if it is within a list as shown in the 19th problem

In [29]:
# 21. to remove a sequence of elements in the list using the index no of the elements
del list2[2:5]
print(list2)

[3, 4, 4.5, [7, 8, 9]]