<a href="https://colab.research.google.com/github/96868/ML_Python/blob/main/class8_%26_class9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***class 8***

In [ ]:
# 1. to print 3 expressions using a generator and next keyword
def mygen(n):
  yield n+6
  yield n+5
  yield n**2
a = mygen(5)
print(next(a))
print(next(a))
print(next(a))

11
10
25

In [ ]:
# 2. to print 3 expressions using a generator and for loop
def mygen1(n1):
  yield n1+6
  yield n1+5
  yield n1**2
for x in mygen(5):
  print(x)

11
10
25

3. generator - used to generate values of different expressions using the yield keyword and next keyword or yield keyword and for loop as shown in the previous two problems

In [ ]:
# 4. name error example
print(abc)

NameError: ignored

In [ ]:
# 5. zero division error example
print(2/0)

ZeroDivisionError: ignored

In [ ]:
# 6. create an exception handling program for the 4th program
try:
  print(abc)
except:
  print("A name error occured")

A name error occured

In [ ]:
# 7. create an exception handling program for the 5th program
try:
  print(2/0)
except:
  print("A zero division error occured")

A zero division error occured

8. exception handling is the process of responding to unexpected events when a computer program runs.exception handling deals with these events to prevent program or system crashing and without this process the program will disrupt the normal operation of the program

In [ ]:
''' 9. so what will be the output of these two code
a. try:
  print("asbchv")
  print(var)
  print("hello all")
except:
  print("a name error occured")'''

asbchv
a name error occured

In [ ]:
'''b.try:
  print("asbchv")
  print("hello all")
  print(var)
except:
  print("a name error occured")'''

asbchv
hello all
a name error occured

In [ ]:
# 10. to create a program to access an element in the list using exception handling
lst1 = [1,2,3,4,5,6,7,8,9]
try:
  print(lst1[2])
  print(lst1[11])
except:
  print("There is an error")

3
There is an error

In [ ]:
# 11. to create a program to access an element in the dictionary using exception handling
mydic = {'a':1,'b':2}
try:
  print(mydic['a'])
  print(mydic['c'])
except:
  print("There is an error")

1
There is an error

In [ ]:
# 12. to create a program to access an element in the tuple using exception handling
tup1 = (1,2,3,4,5,6)
try:
  print(tup1[2])
  print(tup1[7])
except:
  print("There is an error")

3
There is an error

In [ ]:
# 13. to take two integers as input and add them using exception handling
try:
  n1 = int(input("Enter 1st no: "))
  n2 = int(input("Enter 2nd no: "))
  s = n1 + n2
  print("sum : {0}".format(s))
except:
  print("There is an error")

Enter 1st no: 4.5
There is an error

In [ ]:
# 14. to take two integers as input and add them using fstring and exception handling
try:
  n1 = int(input("Enter 1st no: "))
  n2 = int(input("Enter 2nd no: "))
  s = n1 + n2
  print(f"sum : {n1+n2}")
except:
  print("There is an error")

Enter 1st no: 4
Enter 2nd no: 5
sum : 9

In [ ]:
try:
  n1 = int(input("Enter 1st no: "))
  n2 = int(input("Enter 2nd no: "))
  s = n1 + n2
  print(f"sum : {n1+n2}")
except:
  print("There is an error")

Enter 1st no: 4.5
There is an error

In [ ]:
# 15. write a program to understand the function of try , except and finally
try:
  print("Exception_handling")
except:
  print("An error occured")
finally:
  print("Partially work done")

Exception_handling
Partially work done

In [ ]:
try:
  print(Exception_handling)
except:
  print("An error occured")
finally:
  print("Partially work done")

An error occured
Partially work done

In [ ]:
# 16. write a program to open the file write to it and close it
try:
  a = open("file.txt",'w+')
  try:
    a.write(Medha)
    a.seek(0)
    print(a.read())
  except:
    print("There is an error")
  finally:
    a.close()
except:
  print("Not able to open the file")

There is an error

In [ ]:
try:
  a = open("file.txt",'w+')
  try:
    a.write("Medha")
    a.seek(0)
    print(a.read())
  except:
    print("There is an error")
  finally:
    a.close()
except:
  print("Not able to open the file")

Medha

In [ ]:
try:
  a = open("file.txt",'r+')
  try:
    a.write("Medha")
    a.seek(0)
    print(a.read())
  except:
    print("There is an error")
  finally:
    a.close()
except:
  print("Not able to open the file")

Not able to open the file

In [9]:
# 17. to raise a name error in the program using exception handling
try:
  raise NameError('abcd')
except NameError:
    print("There is an error")
    raise

There is an error

NameError: ignored

In [10]:
# 18. to raise a zero division error in the program using exception handling
try:
  raise ZeroDivisionError(5/2)
except ZeroDivisionError:
  print("There is an error")
  raise

There is an error

ZeroDivisionError: ignored

In [2]:
# 19. to find the smallest no in the list
lst2 = [1,2,3,4,5,6,7,8,9]
print("Smallest no :{0}".format(min(lst2)))

Smallest no :1

In [13]:
# 20. to find the largest no in the list
print("Largest no :{0}".format(max(lst2)))

Largest no :9

In [14]:
# 21. to display the alternate elements in the list
print(lst2[0::2])

[1, 3, 5, 7, 9]

In [3]:
# 22. write a program to delete the odd numbers in the list and print the even numbers
for i in lst2:
  if(i%2 != 0):
     lst2.remove(i)
print(lst2)

[2, 4, 6, 8]

***class 9***

In [2]:
# 1. one example of regular expression
import re
a = "My name is Medha"
match = re.search("My",a)
print("Starting index no : ",match.start())
print("Ending index no : ",match.end())

Starting index no :  0
Ending index no :  2

In [13]:
print(match)

<re.Match object; span=(0, 2), match='My'>

In [5]:
print(a[0:2])

My

In [41]:
a2 = re.findall("Me.{2}a",a)
print(a2)

['Medha']

In [10]:
# 2. a. one example of inbuilt module to print the date and time
import datetime
x = datetime.datetime.today()
print(x)

2023-07-27 09:54:35.324327

In [11]:
# b. to print year
print(x.year)

2023

In [14]:
# c. to print the shortform and the fullform of the current day
print(x.strftime("%a"))
print(x.strftime("%A"))

Thu
Thursday

In [15]:
# d. to print only the current date
print(x.strftime("%x"))
print(x.strftime("%X"))

07/27/23
09:54:35

In [18]:
# e. to print the shortform and the fullform of the current month
print(x.strftime("%b"))
print(x.strftime("%B"))

Jul
July

In [19]:
# f. we know monday is the 1st day of week like that to find out current day is which day of the week
print(x.strftime("%w"))

4

In [20]:
# 3. one example of a custom module
import mymodule
z = mymodule.a("November","Medha")

I am from November batch
My name is Medha

In [27]:
# 4. a. one example of inbuilt module to print sin and cos value
import math
print(math.sin(0))
print(math.sin(90))
print(math.sin(180))
print(math.cos(0))
print(math.cos(90))
print(math.cos(180))

0.0
0.8939966636005579
-0.8011526357338304
1.0
-0.4480736161291701
-0.5984600690578581

In [28]:
# b. to print the pi value
print(math.pi)

3.141592653589793

In [29]:
# c. to print the square root value
print(math.sqrt(4))

2.0

In [31]:
# d. built in module to check which os u are working on now
import platform
x = platform.system()
print(x)

Linux

In [35]:
# 5. custom module to print the output
import sys
def output(*a):
  print(*a,file = sys.stderr)
output("Hello world","Medha Sreenivasan")

Hello world Medha Sreenivasan

In [37]:
# 6. built in module to print random numbers from 1 to 5
import random
print(random.randint(0,5))

1

In [39]:
# 7. built in module to print random element from the list
lst3 = [1,2,3,"Medha","Srivani"]
print(random.choice(lst3))

Srivani

In [40]:
# 8. built in module to print a database
import pandas as pd
df = pd.read_csv("MC_LAB_ASSIGNMENT_GROUPS.csv")
print(df)

    S.No              Student Name Registration Number  Group Number  \
0      1              Tejashwini.V    BL.EN.U4EAC20083           1.0
1      2  DIVVI SHYAM PRASAD NAIDU    BL.EN.U4EAC21018           1.0
2      3          Munupalle Madhav    BL.EN.U4EAC19041           1.0
3    NaN                       NaN                 NaN           NaN
4      4           A Hemanth Reddy    BL.EN.U4EAC21006           2.0
..   ...                       ...                 ...           ...
103  NaN                       NaN                 NaN           NaN
104   79            Gnanapriya M A    BL.EN.U4EAC21022          27.0
105   80                Abhinaya S    BL.EN.U4EAC21002          27.0
106   81                  Pranav A    BL.EN.U4EAC21050          27.0
107   82                  Rochan R    BL.EN.U4EAC21057          27.0

                        Group Topic
0                               NaN
1                               NaN
2                               NaN
3                               NaN
4         Touch sensor with LPC2148
..                              ...
103                             NaN
104  UART interfacing using LPC2148
105  UART interfacing using LPC2148
106  UART interfacing using LPC2148
107  UART interfacing using LPC2148

[108 rows x 5 columns]

In [3]:
''' 9. to print the list of different characters(numbers or alphabets or special characters)
composing the string.'''
data = "Me code 123521532"
x = re.findall("[1,3,3,2]",data)
print(x)

['1', '2', '3', '2', '1', '3', '2']

In [7]:
# didn't understand . understand it better from some other source
if x:
  print("Yes there is a match")
else:
  print("No match")

Yes there is a match

In [8]:
# 10. code->in a string made of two or more words to replace the blank space with any input given by the user
y = re.sub("\s","...",data)
print(y)

Me...code...123521532

In [9]:
# 11. code-> in a string made of two or more words to split them such that each word is an element stored in the list
z = re.split("\s",data)
print(z)

['Me', 'code', '123521532']

In [11]:
# 12. code -> in a string split the numbers into single digits and store them in the list
w = re.findall("\d",data)
print(w)

['1', '2', '3', '5', '2', '1', '5', '3', '2']

In [12]:
# 13. code-> to combine the digits in list w to a single number
v = re.findall("\d+",data)
print(v)

['123521532']

In [14]:
''' 14. code->in a string to split all the words and store every character as an element in the list
stored in the list'''
q = re.findall("\S",data)
print(q)

['M', 'e', 'c', 'o', 'd', 'e', '1', '2', '3', '5', '2', '1', '5', '3', '2']